extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Бигам
block page

    section.intro
        h1.intro__title Бигам - сеть центров инструмента и техники
        
        .intro__slider.swiper
            .intro__wrapper.swiper-wrapper

                article.intro__slide.intro__slide--1.swiper-slide
                    +pictureSizeWithoutLazy('intro/intro-1','jpg','x2',1027,562, 'Спектакль Невозможное возможно')

                    img.intro__label(src="./images/label-1.svg", alt="")

                    .intro__slide-content
                    

                        h2.intro__name Спектакль #[span «НЕВОЗМОЖНОЕ#[br]ВОЗМОЖНО»]

                        p.intro__roles В ролях #[br]сотрудники #[br]Бигам

                        p.intro__winners Лауреат #[br]I степени

                article.intro__slide.intro__slide--2.swiper-slide
                    +pictureSize('intro/intro-2','jpg','x2',1027,562, 'Пьеса Купальня')

                    h2.intro__name Пьеса #[span «Купальня»]

                    p.intro__person Ген Директор Бигам


                article.intro__slide.intro__slide--3.swiper-slide
                    +pictureSize('intro/intro-3','jpg','x2',1027,562, 'Пьеса Родственная кровь')

                    h2.intro__name Пьеса #[span «Родственная кровь»]

                    p.intro__person Территориальный #[br]руководитель


                article.intro__slide.intro__slide--4.swiper-slide
                    +pictureSize('intro/intro-4','jpg','x2',1027,562, 'Пьеса Новогодний стол')

                    h2.intro__name Пьеса #[span «Новогодний стол»]

                    p.intro__person Топ Менеджер В2В


                article.intro__slide.intro__slide--5.swiper-slide
                    +pictureSize('intro/intro-5','jpg','x2',1027,562, 'Пьеса Мастаков')

                    h2.intro__name Пьеса #[span «Мастаков»]

                    p.intro__person Топ Менеджер HR


                article.intro__slide.intro__slide--6.swiper-slide
                    +pictureSize('intro/intro-6','jpg','x2',1027,562, 'Пьеса Двойник')

                    h2.intro__name Пьеса #[span «Двойник»]

                    p.intro__person Топ Менеджер Розницы


                article.intro__slide.intro__slide--7.swiper-slide
                    +pictureSize('intro/intro-7','jpg','x2',1027,562, 'Пьеса Четверо')

                    h2.intro__name Пьеса #[span «Четверо»]

                    p.intro__person Топ Менеджер Сервисного Центра


        .intro__pagination


    section.about#about

        .about__backstage
            +pictureSize('backstage','png','x2',175,496, '')

        p.about__suptitle О СПЕКТАКЛЕ

        h2.about__title: span Спектакль «Невозможное&nbsp;возможно»

        p.about__info Комедия в 6 мини-пьесах

        p.about__author: span #[span Автор:] русский писатель, сатирик, драматург, редактор журнала «Сатирикон» Аркадий Аверченко

        p.about__directors: span Режиссеры – Ирина Наумкина, Юрий Круглов, ведущие актеры Российского государственного академического театра драмы имени Федора Волкова

        p.about__roles: span В ролях #[br]сотрудники Бигам

        .about__winner
            span Лауреат I степени #[br]IV Международного #[br]конкурса театрального #[br]искусства «Театральная #[br]версия» имени И. С. Тургенева!

            .about__certificate_preview
                a(href="./images/certificate.pdf" aria-label="Загрузить сертификат" target="_blank" download)
                    +pictureSize('about/certificate','jpg','x2',240,338, 'Превью сертификата')

        .about__duration
            span Продолжительность спектакля – 1 час 30 мин
            span

    .wide__picture
        +pictureSize('wide-1','png','x2',1024,326, '')


    section.plays#plays
        h2.plays__title.section__title Пьесы

        //-  ITEM 1

        article.plays__item.plays__item--1

            h3.plays__name «КУПАЛЬНЯ»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info Комедийная история о двух мужчинах, которые пытаются привлечь внимание двух замужних женщин.

                    p.plays__duration Продолжительность пьесы – 11 мин.

                    .plays__icon
                        img(src="./images/label-2.svg" alt="" width="300" height="156" loading="lazy" decoding="async")

                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-1', 'jpg', 'x2', 510, 267, 'Превью пьесы Купальня')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456239999")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456239999" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites1 = [
                        {
                            cite: '«Репетиции и взаимодействие с коллегами было самым приятным для меня, было очень много смешных моментов, которые заряжали нас правильной энергией.»',
                            author: 'Михаил Бисеров, Генеральный директор Бигам',
                        },
                        {
                            cite: '«Кое-кто меня даже не узнал. По словам близких зрителей, я был совсем не похож на себя, но всем понравилось мое выступление.»',
                            author: 'Михаил Бисеров, Генеральный директор Бигам',
                        },
                        {
                            cite: '«Сложнее всего было поймать образ, а не просто говорить текст, представить себя этим человеком, чтобы играть характер на автомате. При этом, чем больше было репетиций, тем больше мы экспериментировали.»',
                            author: 'Алексей Лисовский, менеджер прямых продаж Бигам',
                        },
                        {
                            cite: '«Работа над пьесой очень помогла мне прокачать мои профессиональные компетенции: тщательно планировать свое рабочее время, распределять задачи по важности и срочности, ставить задачи сотрудникам ясно и понятно, потому что на репетициях был отключен телефон.»',
                            author: 'Соколова Елена, Руководитель магазина Бигам',
                        },
                        {
                            cite: '«Я научилась контролировать свое состояние. Убрала страх большого скопления народа.»',
                            author: 'Жукова Ирина, Ведущий экономист Бигам',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites1

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons1 = [
                    {
                        role: 'Гамов – ',
                        name: 'Михаил Бисеров ',
                        position: 'Генеральный директор Бигам',
                        img: 'plays/person-1',
                    },
                    {
                        role: 'Боков – ',
                        name: 'Алексей Лисовский ',
                        position: 'Менеджер прямых продаж Бигам',
                        img: 'plays/person-2',
                    },
                    {
                        role: 'Ольга  – ',
                        name: 'Елена Соколова ',
                        position: 'Руководитель магазина Бигам',
                        img: 'plays/person-3',
                    },
                    {
                        role: 'Лиза – ',
                        name: 'Ирина Жукова',
                        position: 'Ведущий экономист',
                        img: 'plays/person-4',
                    },
                ]

            ul.plays__persons

                each item in persons1

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position


        //-  ITEM 2

        article.plays__item.plays__item--2

            h3.plays__name «РОДСТВЕННАЯ КРОВЬ»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info История комичной встречи племянника и дяди, скрывающего свое богатство.

                    p.plays__duration Продолжительность пьесы – 8 мин.

                    .plays__icon
                        img(src="./images/chairs.svg" alt="" width="300" height="156" loading="lazy" decoding="async")

                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-2', 'jpg', 'x2', 510, 267, 'Превью пьесы Родственная кровь')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456240000")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456240000" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites2 = [
                        {
                            cite: '«Мои близкие смотрели выступление в записи. Все были под впечатлением от масштабов происходящего, ведь они представляли все иначе.»',
                            author: 'Сипов Александр, Руководитель розничных продаж территории Юг',
                        },
                        {
                            cite: '«Мне было просто вживаться в роль по причине сходства как внешних, так и внутренних качеств с моим героем.»',
                            author: 'Сипов Александр, Руководитель розничных продаж территории Юг',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites2

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons2 = [
                    {
                        role: 'Племянник – ',
                        name: 'Александр Сипов ',
                        position: 'Руководитель розничных продаж территории Юг',
                        img: 'plays/person-2-1',
                    },
                    {
                        role: 'Дядя – ',
                        name: 'Артем Ковальчук',
                        position: 'Специалист по продвижению в соц сетях',
                        img: 'plays/person-2-2',
                    },
                ]

            ul.plays__persons

                each item in persons2

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position


        //-  ITEM 3

        article.plays__item.plays__item--3

            h3.plays__name «НОВОГОДНИЙ СТОЛ»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info В Новый год муж застает жену, целующейся с другим, и решает получить из этой ситуации выгоду.

                    p.plays__duration Продолжительность пьесы – 9 мин.

                    .plays__icon
                        img(src="./images/masks-colored.svg" alt="" width="300" height="156" loading="lazy" decoding="async")

                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-3', 'jpg', 'x2', 510, 267, 'Превью пьесы Новогодний стол')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456240001")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456240001" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites3 = [
                        {
                            cite: '«Я бы не сказал, что были какие-то большие сложности. Все трудности мы обращали в юмор. И на репетициях не уставали, а наоборот, заряжались энергией.»',
                            author: 'Максим Косушкин, Руководитель отдела продаж корпоративным клиентам',
                        },
                        {
                            cite: '«Поразила комическая трусость персонажей Кати и Усатова. Они приняли правила игры Будагова и до конца поддерживали легенду о Пасхе.»',
                            author: 'Лазарева Полина, Ведущий менеджер по лояльности',
                        },
                        {
                            cite: '«Директор БИГ Театра Екатерина Викторовна сделала мне предложение, от которого я не смог отказаться.»',
                            author: 'Максим Косушкин, Руководитель отдела продаж корпоративным клиентам',
                        },
                        {
                            cite: '«Коллеги говорили, что не ожидали увидеть настолько качественную и профессиональную постановку.»',
                            author: 'Лазарева Полина, Ведущий менеджер по лояльности',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites3

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons3 = [
                    {
                        role: 'Муж Будаговой –',
                        name: 'Косушкин Максим',
                        position: 'Руководитель отдела продаж корпоративным клиентам Бигам',
                        img: 'plays/person-3-1',
                    },
                    {
                        role: 'Будагова – ',
                        name: 'Полина Лазарева',
                        position: 'Ведущий менеджер по лояльности',
                        img: 'plays/person-3-2',
                    },
                    {
                        role: 'Усатов  –',
                        name: 'Игорь Воронов',
                        position: 'Инженер по безопасности движения',
                        img: 'plays/person-3-3',
                    },
                ]

            ul.plays__persons

                each item in persons3

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position


        //-  ITEM 4

        article.plays__item.plays__item--4

            h3.plays__name «МАСТАКОВ»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info Смешная история о том, как заставить девушку бросить любимого.

                    p.plays__duration Продолжительность пьесы – 11 мин.

                    .plays__icon
                        img(src="./images/harp.svg" alt="" width="300" height="156" loading="lazy" decoding="async")

                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-4', 'jpg', 'x2', 510, 267, 'Превью пьесы Мастаков')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456240002")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456240002" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites4 = [
                        {
                            cite: '«Это очень крутой опыт! Теперь мы, участники постановки, знаем этапы театрального закулисья.»',
                            author: 'Юлия Равильевна Гришаева, Руководитель отдела управления персоналом',
                        },
                        {
                            cite: '«У меня была роль, которую с лёгкостью удалось сыграть на сцене! Любая мама тревожится за свою дочь, когда та выбирает не того спутника в жизни! В моей жизни не было такой практики, но на сцене, пережила все на 100 процентов.»',
                            author: 'Юлия Равильевна Гришаева, руководитель отдела управления персоналом',
                        },
                        {
                            cite: '«На финальном выступлении зал аплодировал стоя! Улыбаюсь, вспоминая этот момент.»',
                            author: 'Юлия Равильевна Гришаева, руководитель отдела управления персоналом',
                        },
                        {
                            cite: '«Страх выступления на публике был основной, но он был ожидаемым и контролируемым. Опасения забыть текст решались многократными повторениями роли.»',
                            author: 'Ярошенко Дмитрий, Руководитель отдела системного администрирования',
                        },
                        {
                            cite: '«Родители видели видео с репетиции — сначала не узнали, потом удивлены были. Им понравилось.»',
                            author: 'Ярошенко Дмитрий, Руководитель отдела системного администрирования',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites4

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons4 = [
                    {
                        role: 'Евдокия Сергеевна –',
                        name: 'Юлия Гришаева',
                        position: 'Руководитель отдела управления персоналом',
                        img: 'plays/person-4-1',
                    },
                    {
                        role: 'Макс –',
                        name: 'Ярошенко Дмитрий',
                        position: 'Руководитель отдела системного администрирования',
                        img: 'plays/person-4-2',
                    },
                ]

            ul.plays__persons

                each item in persons4

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position


        //-  ITEM 5

        article.plays__item.plays__item--5

            h3.plays__name «ДВОЙНИК»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info Оказаться Двойником уважаемого и богатого инженера случается не часто. Как использовать все возможности подобной ситуации смотрите в комедии «Двойник».

                    p.plays__duration Продолжительность пьесы – 28 мин.

                    .plays__icon
                        img(src="./images/column.svg" alt="" width="300" height="156" loading="lazy" decoding="async")

                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-5', 'jpg', 'x2', 510, 267, 'Превью пьесы Двойник')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456240003")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456240003" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites5 = [
                        {
                            cite: '«Когда мне представилась возможность попробовать себя в роли двух разных персонажей одной пьесы, я сразу же согласился. Было интересно проверить свои возможности.»',
                            author: 'Арефьев Анатолий, Зам Генерального Директора по Розничным продажамм',
                        },
                        {
                            cite: '«Это развивает способность понимать и управлять своими эмоциями, а также эмпатию к чувствам и переживаниям других людей.»',
                            author: 'Арефьев Анатолий, Зам Генерального Директора по Розничным продажам',
                        },
                        {
                            cite: '«Очень понравилось, как с нами работали наставники. Вкладывали в нас свои опыт и знания, очень ответственно и требовательно подходили к этому проекту. Настоящие профессионалы!»',
                            author: 'Голубев Алексей, Руководитель отдела управления ассортиментом Бигам',
                        },
                        {
                            cite: '«На мой взгляд, рецепт здесь прост. К желанию достичь результата мы добавляем опытного наставника, планируем и посещаем все репетиции, и, главное — на сцене нужно сыграть с максимальным азартом и блеском в глазах.»',
                            author: 'Синякин Алексей, Ведущий менеджер по мерчендайзингу',
                        },
                        {
                            cite: '«Мне нужно было сдержанно стоять и выяснять, что же происходит, а все эмоции мои проговаривать внутри себя, а так хотелось бы высказать, а в какой-то момент и вовсе дать пощечину.»',
                            author: 'Шорохова Алена, Специалист по продажам, Сервисный центр Бигам',
                        },
                        {
                            cite: '«Замечаю, что иначе общаюсь с клиентами, более спокойно. Раньше нужно было напрягаться, чтобы сдерживать себя в разговоре.»',
                            author: 'Усов Виктор, Начальник производства сервисного центра Бигам',
                        },
                        {
                            cite: '«Если бы они не знали, что мы сотрудники Компании, то сказали бы что мы актеры.»',
                            author: 'Усов Виктор, Начальник производства сервисного центра Бигам',
                        },
                        {
                            cite: '«С каждым разом проходила неуверенность и становилось легче и уже в какой-то момент, я стала получать удовольствие оттого, что я делаю.»',
                            author: 'Огневая Марина, Зам руководителя отдела маркетинга и рекламы',
                        },
                        {
                            cite: '«Я поняла, что театральное искусство требует много эмоций, сил, огромной работы актера над собой! И работа над собой оказалась самой сложной из задач.»',
                            author: 'Огневая Марина, Зам руководителя отдела маркетинга и рекламы',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites5

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons5 = [
                    {
                        role: 'Колесакин – проезжий человек, очень похожий на Зайцева – ',
                        name: 'Анатолий Арефьев',
                        position: 'Заместитель генерального директора по розничным продажам',
                        img: 'plays/person-5-1',
                    },
                    {
                        role: 'Инженер Зайцев  – ',
                        name: 'Анатолий Арефьев',
                        position: 'Заместитель генерального директора по розничным продажам',
                        img: 'plays/person-5-2',
                    },
                    {
                        role: 'Подрядчик Шишигин – ',
                        name: 'Виктор Усов ',
                        position: 'Начальник производства сервисного центра Бигам',
                        img: 'plays/person-5-3',
                    },
                    {
                        role: 'Пальцев – ',
                        name: 'Голубев Алексей',
                        position: 'Руководитель отдела управления ассортиментом Бигам ',
                        img: 'plays/person-5-4',
                    },
                    {
                        role: 'Валя - молодая девушка –',
                        name: 'Марина Огневая ',
                        position: 'Заместитель руководителя отдела маркетинга и рекламы',
                        img: 'plays/person-5-5',
                    },
                    {
                        role: 'Жена Зайцева – ',
                        name: 'Алена Шорохова',
                        position: 'Специалист по продажам/ Сервисный центр Бигам',
                        img: 'plays/person-5-6',
                    },
                    {
                        role: 'Слуга в ресторане –',
                        name: 'Алексей Синякин',
                        position: 'Ведущий менеджер по мерчендайзингу',
                        img: 'plays/person-5-7',
                    },
                    {
                        role: 'Старик Сергей слуга Зайцева – ',
                        name: 'Артем Ковальчук',
                        position: 'Специалист по продвижению в социальных сетях',
                        img: 'plays/person-5-8',
                    },
                ]

            ul.plays__persons

                each item in persons5

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position


        //-  ITEM 6

        article.plays__item.plays__item--6

            h3.plays__name «ЧЕТВЕРО»

            .plays__inner

                .plays__backstage
                    +pictureSize('backstage','png','x2',175,496, '')

                .plays__content 

                    p.plays__info Невероятную историю, произошедшую в купе поезда и раскрывшую человеческие пороки героев смотрите в комедии «Четверо».

                    p.plays__duration Продолжительность пьесы – 11 мин.


                    .plays__video_item
                        .plays__video_preview.video-preview
                            
                            +pictureSize('plays/plays-preview-6', 'jpg', 'x2', 510, 267, 'Превью пьесы Четверо')
                            button.plays__video_btn.video-play-btn(type="button" aria-label="Начать показ видео")
                                img(src="./images/play-btn-red.svg" alt="" width="78" height="78" decoding="async" loading="lazy")

                        .plays__video.video-block(data-video="https://vk.com/video-106002495_456240004")

                    .plays__link_container
                        a.plays__link(href="https://vk.com/video-106002495_456240004" target="_blank")
                            img(src="./images/play-btn-white.svg" alt="" width="37" height="37" decoding="async" loading="lazy")
                            span СМОТРЕТЬ ПОЛНУЮ #[br]ВЕРСИЮ СПЕКТАКЛЯ

            .plays__slider_container.js-slider-container
                .plays__slider_nav
                    button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                    button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")

                -
                    const sliderCites6 = [
                        {
                            cite: '«Мой персонаж – моя противоположность. Для меня мужчина не может быть трусом, тем более не защитить близкого человека»',
                            author: 'Вадим Брюхно, руководитель сервисного центра',
                        },
                        {
                            cite: '«Профессионализм из нас «вытащили» наши замечательные режиссеры.»',
                            author: 'Наволочный Иван, Категорийный менеджер ОУА',
                        },
                        {
                            cite: '«Да что мы, если у нас Генеральный директор задал такую высокую планку актерского мастерства, вдохновив остальных актёров!»',
                            author: 'Иванов Александр, Категорийный менеджер ОУА',
                        },
                        {
                            cite: '«Мои родные уже не раз видели меня на сцене, так как я принимала участие в конкурсе красоты «Миссис Ярославль 2021».»',
                            author: 'Зачиналова Ольга, Менеджер сервисного центра Бигам',
                        },
                        {
                            cite: '«Пикантная сцена, когда мне пришлось раздеться при коллегах.»',
                            author: 'Зачиналова Ольга, Менеджер сервисного центра Бигам',
                        },
                    ]

                .plays__slider.swiper
                    ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                        each item in sliderCites6

                            li.plays__slide.swiper-slide

                                p.plays__cite= item.cite

                                p.plays__author= item.author

                    .plays__slider_pagination.js-plays-pagination


            -
                const persons6 = [
                    {
                        role: 'Чиновник Четвероруков –',
                        name: 'Вадим Брюхно',
                        position: 'Руководитель сервисного центра Бигам',
                        img: 'plays/person-6-1',
                    },
                    {
                        role: 'Незнакомец',
                        name: 'Александр Иванов',
                        position: 'Категорийный менеджер ОУА',
                        img: 'plays/person-6-2',
                    },
                    {
                        role: 'Коммивояжер Сандомирский – ',
                        name: 'Иван Наволочный',
                        position: 'Категорийный менеджер ОУА',
                        img: 'plays/person-6-3',
                    },
                    {
                        role: 'Симочка, его жена – ',
                        name: 'Ольга Зачиналова',
                        position: 'Менеджер сервисного центра Бигам',
                        img: 'plays/person-6-4',
                    },
                ]

            ul.plays__persons

                each item in persons6

                    li.plays__persons_item

                        .plays__persons_img
                            +pictureSize(item.img,'png','x2',186,260, item.name)

                        .plays__persons_info 

                            p.plays__persons_role= item.role

                            p.plays__persons_name= item.name

                            p.plays__persons_position= item.position



    .wide__picture.wide--2
        +pictureSize('wide-2','png','x2',1024,326, '')


    
    section.persons#persons
        h2.persons__title.section__title Люди театра


        .persons__list 

            article.persons__item

                .persons__description

                    .persons__info

                        h3.persons__name Ирина Наумкина

                        p.persons__position Режиссер спектакля. #[br] Актриса Российского государственного #[br.rm_mob]академического театра драмы имени Федора Волкова

                    .persons__img
                        +pictureSize('persons/theater-person-1','png','x2',168,292, 'Ирина Наумкина')


                .plays__slider_container.js-slider-container
                    .plays__slider_nav
                        button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                        button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")



                    -
                        const sliderCites7 = [
                            {
                                cite: '«БИГактеры большие молодцы, они могут справляться с ситуацией! Они получали большое удовольствие от процесса и самих себя. А когда артист на сцене не просто в зажиме говорит слова, а получает удовольствие, то тогда это — большая победа!»',
                            },
                            {
                                cite: '«Я поражаюсь их желанию и способности овладеть новыми навыками. Вроде взрослые люди, и зачем это! А оказалась нужно! Актеры «Бигам» друг друга вдохновляли и поддерживали, для меня это дорого стоит.»',
                            },
                            {
                                cite: '«Классно, что в какой-то момент актеры стали говорить текстом пьесы в обычной жизни, стали употреблять словечки из текста Аверченко.»',
                            },
                            {
                                cite: '«Уверена, что теперь вам любые работы по плечу. За время подготовки спектакля я всех очень полюбила.»',
                            },
                        ]

                    .plays__slider.swiper
                        ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                            each item in sliderCites7

                                li.plays__slide.swiper-slide

                                    p.plays__cite= item.cite

                        .plays__slider_pagination.js-plays-pagination



            article.persons__item

                .persons__description

                    .persons__info

                        h3.persons__name Юрий Круглов

                        p.persons__position Режиссер спектакля. #[br] Актер Российского государственного  #[br.rm_mob]академического театра драмы имени Федора Волкова #[br.rm_mob] Лауреат премии «За высокое служение театру»

                    .persons__img
                        +pictureSize('persons/theater-person-2','png','x2',168,292, 'Юрий Круглов')


                .plays__slider_container.js-slider-container
                    .plays__slider_nav
                        button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                        button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")



                    -
                        const sliderCites8 = [
                            {
                                cite: '«Они голодные до творческого процесса. И это большое удовольствие, потому что они впитывают как губка. Это, знаете, первые месяцы обучения студентов театрального института.»',
                            },
                        ]

                    .plays__slider.swiper
                        ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                            each item in sliderCites8

                                li.plays__slide.swiper-slide

                                    p.plays__cite= item.cite

                        .plays__slider_pagination.js-plays-pagination


            article.persons__item

                .persons__description

                    .persons__info

                        h3.persons__name Оксана Кузьмина  

                        p.persons__position режиссер-хореограф

                    .persons__img
                        +pictureSize('persons/theater-person-3','png','x2',168,292, 'Оксана Кузьмина')


                .plays__slider_container.js-slider-container
                    .plays__slider_nav
                        button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                        button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")



                    -
                        const sliderCites9 = [
                            {
                                cite: '«Такой масштабный спектакль - это уникальный продукт. Огромная благодарность лично от меня руководителям компании Бигам за то, что они не побоялись, рискнули, вложили душу в этот спектакль.»',
                            },
                            {
                                cite: '«Команда Бигам – это отдельный кайф. Таких позитивных, отзывчивых, активных сотрудников я лично не встречала ни в одной компании!»',
                            },
                            {
                                cite: '«Проделана огромная работа, организаторами, постановщиками, актерами. И результат превзошел все наши ожидания! О чем свидетельствуют бурные аплодисменты зрителей в зале. »',
                            },
                        ]

                    .plays__slider.swiper
                        ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                            each item in sliderCites9

                                li.plays__slide.swiper-slide

                                    p.plays__cite= item.cite

                        .plays__slider_pagination.js-plays-pagination


            article.persons__item

                .persons__description

                    .persons__info

                        h3.persons__name Екатерина Бисерова 

                        p.persons__position Директор БИГтеатра #[br] Зам. директора по развитию  #[br.rm_mob]персонала Бигам

                    .persons__img
                        +pictureSize('persons/theater-person-4','png','x2',168,292, 'Екатерина Бисерова')


                .plays__slider_container.js-slider-container
                    .plays__slider_nav
                        button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                        button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")



                    -
                        const sliderCites10 = [
                            {
                                cite: '«От замысла до премьеры прошло около 5 месяцев, и от начала репетиций до премьеры – около 3 месяцев. На мой взгляд, это супер быстрый результат!»',
                            },
                            {
                                cite: '«О! Это была самая ответственная задача! Результат всегда зависит от того, какую Команду удалось подобрать, и как руководитель организовал условия для того, чтобы эта Команда показала наилучший результат!»',
                            },
                            {
                                cite: '«Далее с каждым лично побеседовали и поняли, что мы – БИГтеатр!»',
                            },
                            {
                                cite: '«Дал людям впечатления такого уровня, которые, пожалуй, можно получить только в детстве! »',
                            },
                            {
                                cite: '«Первые репетиции проходили, сидя за столом, так называемая читка. Наш БИГрежиссер Ирина называла этот этап Застольный период.»',
                            },
                        ]

                    .plays__slider.swiper
                        ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                            each item in sliderCites10

                                li.plays__slide.swiper-slide

                                    p.plays__cite= item.cite

                        .plays__slider_pagination.js-plays-pagination


            article.persons__item

                .persons__description

                    .persons__info

                        h3.persons__name Марина Суслова

                        p.persons__position Зам. директора Бигтеатра #[br] Руководитель отдела обучения Бигам

                    .persons__img
                        +pictureSize('persons/theater-person-5','png','x2',168,292, 'Марина Суслова')



                .plays__slider_container.js-slider-container
                    .plays__slider_nav
                        button.plays__prev.js-nav-prev(type="button" aria-label="Показать предыдущий слайд")
                        button.plays__next.js-nav-next(type="button" aria-label="Показать следующий слайд")



                    -
                        const sliderCites11 = [
                            {
                                cite: '«Верю в людей и людям! Радуюсь, когда люди становятся лучше и успешнее! Разными способами помогаю им в этом!»',
                            },
                            {
                                cite: '«Всё получилось, потому что у нас работают прекрасные люди с командным духом, мы верили в каждого!»',
                            },
                            {
                                cite: '«Воплощали в жизнь, казалось бы, самые невыполнимые задачи. Вспоминается момент, когда решили сделать универсальные декорации для спектакля. Через час Максим принес чертежи, на следующий день отделом маркетинга был нарисован проект, а через две недели наши готовые декорации стояли на складе. »',
                            },
                            {
                                cite: '«Благодарю собственников Компании за то, что разрешили сделать такой проект и не ограничивали нас в идеях! Нашего Генерального директора — за внутреннюю поддержку и пример актёрам. Нашего директора Бигтеатра, смелую, креативную, эстетичную и продуманную до мелочей! Ну и конечно зрителей, за их отклик, эмоции и душевные слова благодарности!»',
                            },
                        ]

                    .plays__slider.swiper
                        ul.plays__slider_wrapper.swiper-wrapper.js-plays-slider

                            each item in sliderCites11

                                li.plays__slide.swiper-slide

                                    p.plays__cite= item.cite

                        .plays__slider_pagination.js-plays-pagination









